<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TDM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <TDM.Properties.Settings>
            <setting name="DownloadPath" serializeAs="String">
                <value>downloads</value>
            </setting>
            <setting name="authorization" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MTc2MzMzOTYsInVzZXJuYW1lIjoiNTM1NDg1ODE4MSIsInZlcnNpb24iOiIyMTgwMCJ9.9hztygU8V0mQ5WgZ0DzsmPC9Qtqx4BiYrJsmMv6ndhI</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberPhone" serializeAs="String">
                <value>54858181</value>
            </setting>
        </TDM.Properties.Settings>
    </userSettings>
</configuration>
